<h3>この日報が言及している日報</h3>
<% report.mentioning_reports.each do |report| %>
  <p><%= link_to report.title, report_path(report) %></p>
<% end %>
----
<h3>この日報に言及している日報</h3>
<% report.mentioned_reports.each do |report| %>
  <%= link_to report.title, report_path(report) %>
<% end %>
