<h1><%= t('title.edit', model: t('book')) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('button.show', model: t('book')), @book %> |
  <%= link_to t('button.back', model: t('book')), books_path %>
</nav>
