<h1><%= t('title.new', model: t('activerecord.models.book')) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('button.back', model: t('activerecord.models.book')), books_path %>
</nav>
