/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
   margin-bottom: 20px;
}

 .header-wrapper {
   background-color: #37abf9;
   color: white;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   height: 72px;
 }

 .header-link, .login, .logout{
   display: inline-block;
   margin-right: 48px;
 }

 li.login{
   color: black;
 }

 .header-link a {
   color: white;
   text-decoration: none;
   padding: 5px 10px;
   border-radius: 5px;
   transition: background-color 0.3s, color 0.3s;
 }

 .header-wrapper li{
   float: left;
 }
