<h1>Reports</h1>

  <% @reports.each do |report| %>
    <div class="index-item">
    <%= render report %>
    <%= link_to "Show this report", report %>
    </div>
    <p>
    </p>
  <% end %>

<nav class="page-nav">
  <%= link_to "New report", new_report_path %>
</nav>
